Package: lirays-scada-dbgsym
Package-Type: ddeb
Source: lirays-scada
Version: 0.1.0-1
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Alejandro <alejandro@lirays.com>
Installed-Size: 1443
Depends: lirays-scada (= 0.1.0-1)
Section: debug
Priority: optional
Description: debug symbols for lirays-scada
Build-Ids: c88081af236efb4603d4388f855bc565fb68fd04
