SCADA_FRONTEND_MODE=production
SCADA_FRONTEND_PORT=3000
SCADA_FRONTEND_HOST=0.0.0.0
SCADA_RUST_HOST=0.0.0.0
SCADA_RUST_PORT=1236
SCADA_FRONTEND_FORCE_BUILD=false
SCADA_FRONTEND_DIR=./frontend
SCADA_DEMO_DATA_DIR=./demo_data
