<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lirays.scada</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/lirays-scada</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/usr/local/var/lirays-scada</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>DATA_DIR</key>
    <string>/usr/local/var/lirays-scada/data_dir</string>
    <key>BIND_PORT</key>
    <string>8245</string>
    <key>WS_TLS_ENABLE</key>
    <string>0</string>
    <key>AUTH_ENABLED</key>
    <string>0</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/usr/local/var/log/lirays-scada.log</string>
  <key>StandardErrorPath</key>
  <string>/usr/local/var/log/lirays-scada.err.log</string>
</dict>
</plist>
